# langchain-astradb
# langchain
# langchain-community 
# langchain-groq
# datasets
# pypdf
# python-dotenv
# pandas
# flask
# -e .


streamlit

langchain
langchain-community
langchain-groq
langchain-astradb

datasets
pypdf
python-dotenv
pandas
